# Ignore all subdirectories (generally pipeline outputs) except a few
# (must be at the top to avoid unignoring previously ignored files in these
# directories)
*/
!switch/
!switch/*
!PowerGenome/
!PowerGenome/**
!MIP_results_comparison/
!MIP_results_comparison/**

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# editor settings
.ipynb_checkpoints
.vscode
*.code-workspace
.spyderproject
.spyproject

# VS Code settings
.vscode

# log files
*.log

# macOS metadata (can make repository impossible to clone on Windows
Icon?
.DS_Store
