[submodule "MIP_results_comparison"]
	path = MIP_results_comparison
	url = https://github.com/gschivley/MIP_results_comparison.git
	shallow = true
[submodule "PowerGenome"]
	path = PowerGenome
	url = https://github.com/switch-model/PowerGenome.git
	shallow = true
